/* Container holding the image and the text */
.contain{
    background: rgb(250, 200, 101);
}
.cont {
    position: relative;
    
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    top: 30%;
    left: 10%;
  }
  
  /* Top left text */
  .top-left {
    text-align: left;
    position: absolute;
    top: 33%;
    left: 10%;
    font-size: 45px;
    font-weight: bolder;
  }
  
  /* Top right text */
  .btn {
    position: absolute;
    top: 52%;
    left: 10%;
  }
  .bt10{
    background-color: blanchedalmond;
    left: 10px;
    top: 5px;
  }
  
 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(250, 200, 101);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  border: px solid black;
  color: #000000;
  background: #ffd70e;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Style the active link (or home/logo) */
.active {
  background-color: #ffd70e;
  color: white;
}
/* .gal img{
  width: 300px;
  height: 300px;
} */
.container {
  position: relative;
  width: 50;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}

.container:hover .overlay {
  background-color: #616161;
  opacity: 0.5;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bt12{
  background-color: rgb(255, 255, 255);
  left: 10px;
  top: 5px;
  border: none;
}
.cr{
  margin-top: -52px;
}
.hd{
  font-size: 70px;
  color: rgb(218, 160, 84);
}
.map{
  position: relative;
  width: 50;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease ;
  background:rgba(0,0,0,0.5);
  color: rgb(0, 0, 0);
}

.map:hover .overlay1 {
  
  background-color: #616161;
  opacity: 0.35;
  
}

.text1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}






.con .bt{
  display: inline-block;
  height: 60px;
  width: 60px;
  /* float: left; */
  margin: 0 5px;
  overflow: hidden;
  background: rgb(218, 160, 84);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

.con .bt .ic{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.con .bt:nth-child(1):hover .icon{
  background: #4267B2;
}
.con .bt:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.con .bt:nth-child(3):hover .icon{
  background: #E1306C;
}
.con .bt:nth-child(4):hover .icon{
  background: white;
}
.con .bt .ic i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.con .bt span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
